<table class="table table-bordered ">
  <thead>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>password</th>
       <th>actions</th>
     
    </tr>
  </thead>
  <tbody *ngFor="let post of posts" >
  <tr scope="row"> 
        <td>{{post.id}}</td>
        <td>{{post.username}} </td> 
        <td>{{post.password}}</td>  
     
        <td>
        
          <button type="button" value="Update" class="btn btn-warning"  (click)='openModalForEdit(updatemember,post)'>Update</button>  
         <ng-template #updatemember>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Updating Current Member</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <form  class="form-horizontal" [formGroup]="Myform" (ngSubmit)="submitFormForEdit(Myform.value)">
  
   <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label">UserName</label>
        <input type="text" id="username" [(ngModel)]="post.username" class="form-control" formControlName="username">
     </div>
  </div>
  <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label">Password</label>
        <input type="email" id="password" [(ngModel)]="post.password" class="form-control" formControlName="password">
      </div>
  </div>
      <button type="submit" class="btn btn-success"(click)="modalRef.hide()" > Submit</button>
</form>
  </div>
</ng-template>
        <button type="button" value="Delete" class="btn btn-danger" (click)='openModalforDelete(deletemember,post);'>Delete</button> 
        
        
        
          <ng-template #deletemember>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Deleting Current User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
     <form  class="form-horizontal" [formGroup]="Myform" (ngSubmit)="delete(Myform.value)">
 
  <div class="modal-body">
    Do You want to delete this member?
 
       
       <textarea cols="20" rows="20"  style="display:none;" [(ngModel)]="post.id" class="form-control" formControlName="id" ></textarea>
        </div>
         <div class="submitbtn">
     <button type="submit"  class="btn btn-danger" (click)="modalRef.hide()">Delete</button>  

  </div>
    </form>
</ng-template>

        </td>
    </tr>
  </tbody>
</table>
<a routerLink="../close" routerLinkActive="active"><button class="btn btn-success">Submit </button></a>
<router-outlet></router-outlet>